@font-face {
    font-family: 'PL';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Alt Light'), url('Mark Simonson - Proxima Nova Alt Light.woff') format('woff');
}

@font-face {
    font-family: 'PL';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Alt Light'), url('Mark Simonson - Proxima Nova Alt Light.woff') format('woff');
}

@font-face {
    font-family: 'museo';
    font-style: normal;
    font-weight: normal;
    src: url('museo.otf');
}

@font-face {
    font-family: 'PR';
    font-style: normal;
    font-weight: normal;
    src: url('Mark Simonson - Proxima Nova Alt Regular.otf');
}

@font-face {
    font-family: 'PB';
    font-style: normal;
    font-weight: normal;
    src: url('Mark Simonson - Proxima Nova Bold.otf');
}

@font-face {
    font-family: 'PBL';
    font-style: normal;
    font-weight: normal;
    src: url('Mark Simonson - Proxima Nova Black.otf');
}

@font-face {
    font-family: 'pt';
    font-style: normal;
    font-weight: normal;
    src: url('proximanova-thin-webfont.ttf');
}

@font-face {
    font-family: 'pl';
    font-style: normal;
    font-weight: normal;
    src: url('proximanova-light-webfont.ttf');
}

@font-face {
    font-family: 'ps';
    font-style: normal;
    font-weight: normal;
    src: url('proximanova-semibold-webfont.ttf');
}

@font-face {
    font-family: 'pb';
    font-style: normal;
    font-weight: normal;
    src: url('proximanova-bold-webfont.ttf');
}

html{
    min-width: 100%;
}

body{
    overflow: auto;
}

.header {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 99999;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.15);
    /* box-shadow: 0px 0px 18px rgba(0,0,0,0.15); */
    /* box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.05); */    
}

.iconRanking{
    background-image: url(../trphy.png);
}

.iconHome{
    background-image: url(../home.png);
}

.iconMessage{
    background-image: url(../msg.png);
    margin-top: 3px;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "PL";
}

.klogo {
    height: 50px;
    margin-top: 15px;
}

.right div{
    display:inline-block;
}

.content {
    background-color: rgb(243,243,243);
    background: #ecebea;
    padding: 80px 0px 80px 0px;
    box-shadow: 0px 4px 13px 5px rgba(0,0,0,0.09);
    width: 100%;
    box-sizing: border-box;
    min-height: 100%;
    display: table;
    text-align: center;
}

aside.sidebar {
    width: 300px;
    background: #f04f55;
    min-height: 300px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 80;
}

.sbutton {
    height: 12px;
    background: aqua;
    background: url(bss.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: -25px;
    left: 190;
    display: block !important;
}

.left {
    height: 80px;
    width: 300px;
    min-width: 300px;
    float: left;
}

.left #add {
    height: 80px;
    width: 80px;
    float: left;
    border-right: 1px solid #f1ede6;
    display: -webkit-inline-box;
}

#add button {
    height: 40px;
    width: 40px;
    border: none;
    line-height: 40px;
    margin: 20px;
    background: #f04f55;
    border-radius: 100px;
    outline: 0;
    color: #414040;
    color: white;
    font-size: 24px;
    box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
}

#options {
    display: inline;
    line-height: 107px;
}

#options button {
    height: 40px;
    display: inline-block;
    width: 40px;
    background: none;
    border-radius: 5px;
    outline: 0;
    margin-left: 16px;
    border: 1px solid gainsboro;
    font-size: 12px;
    color: #47444d;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    transition: 1s ease;
}

#options button:hover {
    border: 1px solid #f04f55;
}

#options div {
    background-size: contain;
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    margin: 0 auto;
    margin-top: 1px;
}

.middle {
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

.right {
    height: 80px;
    width: 300px;
    /* float: right; */
    /* display: inline; */
}

.seachbar:hover{
    border:1px solid green;
}

input.searchbar {
    height: 40px;
    border-radius: 5px;
    width: 208px;
    background: none;
    margin-top: 20px;
    margin-left: 8px;
    padding: 0px 35 0 15;
    letter-spacing:0.5px;
    transition: 0.5s;
    outline: 0px;
    resize: none;
    border: 1px solid gainsboro;
    font-size: 12px;
    color: #47444d;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

input.searchbar:hover {
    border: 1px solid #fbc4c8;
}

input.searchbar:focus {
    border: 1px solid #ee4c58;
}

.containerimage{
    height: 40px;
    width: 40px;
    //background: url(http://i.imgur.com/VVZYJel.png);
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    position: fixed;
    margin: 20px;
    //box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.profileimage {
    height: 40px;
    width: 40px;
    //background: url(http://i.imgur.com/VVZYJel.png);
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    position: fixed;
    border-radius: 10em;
    border: 1px solid gainsboro;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.wrapper {
    display: -webkit-inline-box;
    text-align: left;
}

.navblock{
    margin: 0 auto;
    min-width: 700px;
    /* width: 700px; */
    margin-top: 15px;
    background-color: white;
    border-radius: 2px;
    display: table;
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.05);
}

.sidenav .navicon {
    top: 25px;
}

.passos{
    list-style: none;
    padding: 10px;
    font-weight: bold;
    display: inline-block;
    max-width: 1030px;
    margin-bottom: 3px;
}

.passos li{
    display: block;
    padding: 5px 10px 6px 5px;
    position: relative;
    margin-bottom: 10px;
    transition: 0.5s ease;
    border-bottom: 1px solid #eaeaea;
}

.navblock ul li:hover{ 
}

.resultados .img {
    height: 160px;
    width: 240px;
    background: #e5e5e5;
    background-size: cover;
    margin: auto;
    display: block; 
    box-shadow: 1px -1px 13px 1px rgba(0,0,0,0.09);
}

.resultados .desc{
    padding: 5px 0px 5px 10px;
    border-top: 1px solid rgba(236, 235, 234, 0.38);
    text-align: left;
    position: absolute;
    left: 0px;
    top:130px;
    right: 0px;
    bottom: 0px;
    box-shadow: 0px 3px 13px -3px rgba(0,0,0,0.09);
    background: rgba(41, 44, 51,0.8);
    transition: all 0.4s ease-out;
}

.resultados li {
    display: inline-block;
    margin: 5px 5px 5px 5px;
    position: relative;
    transition: 0.5s ease;
    max-width: 240px;
    min-width: 240px;
}

.resultados li:hover .desc{
    top:0px;
    border: 0px;
}

.resultados li:hover .desc span{
    display:block;
    opacity:1;
}

.desc span{
    transition: 0.5s ease;    
}

.desc .nota {
    color: #ee4c58;
    position: absolute;
    right: 10px;
    top: 0px;
    background-color: white;
    padding: 10px;
    opacity: 0;
}

.desc .tendencia {
    color: #f0e0b7;
    position: absolute;
    bottom: 10px;
    opacity: 0;
}

.desc .autor {
    color: #e36868;
    position: absolute;
    opacity: 0;
}

ul.resultados {
    list-style: none;
    padding: 10px;
    font-weight: bold;
    max-width: 1035px;
}


.resultados #rcp{
    font-size: 16px;
    font-weight: 900;
    display: block;
    color: white;
    padding-right: 55px;
}

.navblock ul li #atr{
    font-size: 10px;
    font-weight: 900;
    font-family: helv;
    line-height: 10px;
    display: block;
}

.rating{
    height: 12px;
    margin-top: 3px; 
}

.sidebox {
    
    width: 300px;
    position: relative;
    background: #ee4c58;
    background: white;
    display: inline-block;
    margin: 15 15 0 15;
}


.sidenav a {
    text-decoration: none;
}

.sidenav li {
    height: 73px;
    background: inherit;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.07);
    list-style: none;
    text-align: left;
    transition: all 0.5s ease;
    position: relative;
    background-color: white;
    padding-left: 15px;
}

.sidenav li:hover {
    padding-left: 30px;
}

.sidenav li span {
    line-height: 73px;
    color: #ee4c58;
    font-weight: bold;
    display: inline-block;
}

.ingredientes li {
    display: block !important;
}

.addicon {
    background-image: url(../plas.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 12px;
    width: 12px;
    margin: 0 auto;
}

h2.title {
    color: #ffffff;
    background: #6c4a4a;
    background: #ee4c58;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    padding: 15px;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #eaeaea;
}

img.navicon {
    height: 20px;
    position: absolute;
    top: 18px;
    right: 10px;
    z-index: 2;
}

h5.onivoro {
    padding: 4px 10px;
    font-size: 10px;
    margin-right: 5px;
    border: 1px solid #42b1d7;
    border-radius: 10em;
    color: #42b1d7;
    display: inline-block;
}

h5.carnivoro{
    padding: 4px 10px;
    font-size: 10px;
    margin-right: 5px;
    border: 1px solid #ee4c58;
    border-radius: 10em;
    color: #ee4c58;
    display: inline-block;
}

h5.vegano{
    padding: 4px 10px;
    font-size: 10px;
    margin-right: 5px;
    border: 1px solid #d5d548;
    border-radius: 10em;
    color: #d5d548;
    display: inline-block;
}

h5.vegetariano{
    padding: 4px 10px;
    font-size: 10px;
    margin-right: 5px;
    border: 1px solid #8ee04c;
    border-radius: 10em;
    color: #8ee04c;
    display: inline-block;
}

h5.none{
    padding: 4px 10px;
    font-size: 10px;
    margin-right: 5px;
    border: 1px solid #000000;
    border-radius: 10em;
    color: #000000;
    display: inline-block;    
}

.receitaImg {
    height: 160px;
    width: 240px;
    display: inline-block;
    background-size: cover;
    color: black;
}

.receitaDesc {
    position: relative;
    float: right;
    width: 390px;
    min-height: 160px;
    background: white;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 15px;
    padding-bottom: 42px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
    /* box-shadow: 0 1px 2px rgba(0,0,0,.1); */
}

.receitaDesc h4{
    margin: 10px 0px 5px 0px;
}

.receitaDesc span{
    font-weight: bold;
    font-size: 12px;
}

.receitaAutor {
    display: inline-block;
    float: right;
}

.receitaAutor .idt {
    display: inline-block;
    float: left;
    line-height: 18px;
    font-weight: bold;
    font-size: 10px;
    font-style: italic;
    margin: 7px 10px;
}

.idt a{
    display: block;
    font-size: 14px;
    font-style: normal;
    color: black;
    text-decoration: none;
}

.receitaAutor img {
    height: 48px;
    float: right;
    border: 1px solid gainsboro;
}

.receitaDesc .nota {
    margin-top: 20px;
    position: absolute;
    box-sizing: border-box;
    bottom: -4px;
    right: 5px;
}

.nota h3 {
    display: inline-block;
    color: #ee4c58;
    color: white;
    float: right;
    padding: 10px;
    background: #ee4c58;
}

.ingredientes{
    min-height: 315px;
    width: 470px;
    float: left;
    display: inline-block;
    background: white;
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.05);
    margin-bottom: 15px;
}

.IRT h2 {
    color: #ee4c58;
    background: #ffffff;
}

.IRT .small {
    min-height: 150px;
    width: 215px;
    background: white;
    margin: 0px;
    margin-bottom: 15px;
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.05);

}

.IRT{
    padding-top: 15px;
}

.comentar {
    display: inline-block;
    padding-left: 20px;
    position: relative;
    padding-top: 20px;
}

.comentar h3 {
    color: #ee4c58;
    margin-bottom: 15px;
}

.comentar input {
    width: 580px;
    outline: 0px;
    resize: none;
    border: 1px solid gainsboro;
    height: 40px;
    padding: 10px;
    color: #47444d;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}


fieldset, label { margin: 0; padding: 0; }

h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
    border: none;
    float: left;
}

.rating > input { display: none; } 

.rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: "Arial";
    display: inline-block;
    content: "\2605";    
}

.rating > .half:before { 
    content: "\2605";
    position: absolute;
}

.rating > label { 
    color: #ddd; 
    float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.comentar button {
    height: 40px;
    border: 1px solid gainsboro;
    padding: 10px;
    margin-left: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    background-color: white;
    color: #f04f55;
    outline: 0px;
    font-weight: bold;
}

.formBotao{
    position: absolute;
    z-index: 100;
    top: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid gainsboro;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    background-color: #503435;
    background-color: #f04f55;
    color: #ffffff;
    outline: 0px;
    font-weight: bold;
    cursor: pointer;    
}

.passos h4{
    font-size: 16px;
    color: #ee4c58;
}

.formulario span {
    width: 48px;
    text-align: center;
    height: 14px;
    border: 1px solid gainsboro;
    padding: 10px;
    line-height: 14px;
    margin-left: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    background-color: white;
    color: #f04f55;
    outline: 0px;
    font-weight: bold;
    position: absolute;
    font-size: 8;
    box-sizing: content-box;
    right: -80px;
    top: 0px;
}

.formulario input {
    width: 580px;
    outline: 0px;
    resize: none;
    border: 1px solid gainsboro;
    font-size: 12px;
    padding: 10px;
    color: #47444d;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.formulario h4 {
    color: #ee4c58;
    margin-bottom: 5px;
    font-size: small;
}

.formulario {
    display: inline-block;
    padding-left: 20px;
    position: relative;
    padding-top: 20px;
}

.formsection {
    margin-bottom: 10px;
}

.formulario div {
    position: relative;
}

.formulario textarea {
    width: 580px;
    outline: 0px;
    resize: none;
    border: 1px solid gainsboro;
    font-size: 12px;
    padding: 10px;
    color: #47444d;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#selectTendencia {
    width: 580px;
    outline: 0px;
    resize: none;
    border: 1px solid gainsboro;
    font-size: 12px;
    padding: 10px;
    color: #47444d;
    font-weight: bold;
    height: 35px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

option {
    font-weight: bold;
}

.perfil .nomerank {
    color: #ee4c58;
    display: table;
    padding: 25 20 9 20;
    font-weight: bold;
}

.nomerank h2{
    font-weight: bold;
    font-size: 30px;
    color: #595858;
}

.perfil {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.78);
    background: rgba(255, 255, 255, 0.61);
    position: relative;
    display: block;
    border-radius: 2px;
}

.imgperfil {
    border-radius: 3px;
    border: 1px solid gainsboro;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    height: 128px;
    float: left;
}

.perfil .estastitica {
    color: #ee4c58;
    padding: 6px;
    bottom: 45px;
    background-color: rgba(243, 243, 243, 0.66);
    left: 180;
    font-weight: bold;
    /* width: 480; */
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,.10);
    font-size: 12px;
    display: inline-block;
    margin-left: 20;
    margin-bottom: 13px;
}

.ranking th {
    text-align: center;
    border-bottom: 1px solid gainsboro;
    color: #ee4c58;
    padding: 5px;
}

td {
    text-align: center;
    padding: 3px;
    font-weight: bold;
}

table.ranking {
    width: 100%;
    padding: 10px 20px 10px 20px;
}

.IRT span {
    color: #ee4c58;
    font-weight: bold;
    margin: 30 10 0;
    display: block;
    text-align: center;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.whitetitle {
    box-shadow: none !important;
    color: #ee4c58 !important;
    background: #ffffff !important;
}

.sobrePerfil{
    padding: 20px;
    font-weight: bold;    
}


.sobrePerfil h4{  
    color: red;margin-bottom: 5px;
}

.sobrePerfil span{
    font-size:14px;    
}

.ulx3 {
    width: 780px;
}

.ul4{
    width: 1035px;
}

.perfilBG {
    background: url(https://il7.picdn.net/shutterstock/videos/5453105/thumb/9.jpg);
    background-size: contain;
    border-radius: 2px;
}

.sobreKrift {
    margin: 10px;
    padding: 10px;
    font-size: 15;
    line-height: 24px;
    font-weight: bold;
    max-width: 1030px;
}

.useropt {
    height: 20px;
    width: 60px;
    background: white;
    top: 39px;
    left: -10px;
    position: absolute;
    text-align: center;
    padding-top: 3px;
    opacity: 0;
    transition: 0.3s ease;
}

.useropt a{
    font-weight: bold;
    color: #ee4c58;
    font-size: 10px;
    text-decoration: none;
}

.containerimage:hover .useropt {
    opacity: 1;
}

.toLogin {
    position: fixed;
    margin: 20px;
    line-height: 42px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #ee4c58;
}

table a{
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

table td a:hover{
    color: #ee4c58;
}

.perfil .edit {
    position: absolute;
    top: 0px;
    right: 19px;
    /* color: #ee4c58; */
    /* background-color: rgba(255,255,255,0.9); */
    color: white;
    background: #ee4c58;
    padding: 10px;
    font-weight: bold;
    font-size: 10px;
    border: 1px solid rgba(0,0,0,0.07);
    border-top: none;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    transition: 0.2s ease;
}

.perfil .edit:hover{
    padding-top:32px;    
}

ul.manterReceita {
    list-style: none;
}

.manterReceita li {
    height: 150px;
    width: 700;
    margin: 10px;
    box-sizing: content-box;
    border: 1px solid gainsboro;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.manterReceita #img {
    height: 150px;
    width: 200px;
    background: url(http://static.wixstatic.com/media/ba20a3_2b9122727d744c709a44b852f9491e73.jpg_srz_940_622_85_22_0.50_1.20_0.00_jpg_srz);
    background-size: cover;
    display: -webkit-inline-box;
    float: left;
}

.manterReceita .title {
    width: 500px;
    display: inline-block;
    font-weight:bold;
}

.title span {
    margin: 10px;
    width: 368px;
    display: -webkit-inline-box;
    word-break: break-word;
}

.title .actions {
    display: inline-block;
    font-size: 12px;
}

.actions a {
    margin-right: 10px;
    text-decoration: none;
    color: #ee4c58;
}

.title p {
    font-size: 12px;
    margin: 10px;
}