@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@font-face {
    font-family: 'PL';
    font-style: normal;
    font-weight: normal;
    src: local('Proxima Nova Alt Light'), url('Mark Simonson - Proxima Nova Alt Light.woff') format('woff');
}

html{
    height: 100%;
}


body{
    height: 100%;
    margin:0px;
    font-family: "Roboto", sans-serif;
    background: -moz-linear-gradient(left, rgba(242,74,86,1) 0%, rgba(184,132,127,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,74,86,1)), color-stop(100%, rgba(184,132,127,1)));
    background: -webkit-linear-gradient(left, rgba(242,74,86,1) 0%, rgba(184,132,127,1) 100%);
    background: -o-linear-gradient(left, rgba(242,74,86,1) 0%, rgba(184,132,127,1) 100%);
    background: -ms-linear-gradient(left, rgba(242,74,86,1) 0%, rgba(184,132,127,1) 100%);
    background: linear-gradient(to right, rgb(242, 74, 86) 0%, rgb(190, 121, 104) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b58d93', endColorstr='#807e7d', GradientType=1 );
}

.login-page {
  padding: 100px 0 0;
  margin: auto;
  width: 100%;
}

.login-title{ 
    display: block;
    margin: 10px;
    margin-top: 0em;
}

.login-logo{
    margin-bottom: 35px;
    height: 80px;
}
 
.form {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f8f7f7;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  /* font-size: 14px; */
  border: 1px solid gainsboro;
  padding: 10px;
  color: #47444d;
  font-weight: bold;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f24a56;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #f5939F;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #cb3f4e;
  text-decoration: none;
}

.form .message a:hover {
  color: #f5939F;
}

.form .register-form {
  display: none;
} 

.footer{
    position: absolute;
    width: 100%;
    padding: 5px 0px;
    margin: auto;
    bottom: 0px;
    border-style: solid;
    border-width: 0;
    border-top-width: 2px;
    border-top-color: #9F9D9C;
    text-align: center; 
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.footer span{
    color:white;
}
 
* {
    font-weight: bolder;
}

input:hover {
    border: 1px solid #fbc4c8;
}

input:focus {
    border: 1px solid #ee4c58;
}